{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% set content_title = 'Login' %}

{% block fos_user_content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% if error %}
            <div class="alert alert-danger">
                <ul>
                    <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                </ul>
            </div>
        {% endif %}
        <form action="{{ path('fos_user_security_check') }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
            <div class="form-group">
                <label class="control-label" for="username">
                    {{ 'security.login.username'|trans }}
                </label>
                <div class="col-xs-12">
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="_username"
                        value="{{ last_username }}"
                        required="required"
                        placeholder="Username/Email"
                        {% if not last_username %}
                            autofocus="autofocus"
                        {% endif %}
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="password">
                    {{ 'security.login.password'|trans }}
                </label>
                <div class="col-xs-12">
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="_password"
                        required="required"
                        placeholder="Password"
                        {% if last_username %}
                            autofocus="autofocus"
                        {% endif %}
                    />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        <input
                            type="checkbox"
                            id="remember_me"
                            name="_remember_me"
                            value="on"
                            checked
                        />
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-6">
                <button
                    type="submit"
                    class="btn btn-primary pull-right"
                    id="_submit"
                    name="_submit"
                >
                    {{ 'security.login.submit'|trans }}
                </button>
            </div>
            <div class="clearfix"></div>
        </form>
        <div class="text-center">
            <a href="{{ path('fos_user_resetting_request') }}">
                Forgot password?
            </a>
        </div>
    </div>
{% endblock %}
